{% extends 'base.html.twig' %}
{% block body %}
    <h1>Editer la catégorie</h1>

    <a href="{{ path('category_getall') }}">Retour à la liste des catégories</a>
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_end(form) }}
{% endblock %}

